nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Node.js Express Mongoose Demo
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=isActive('/articles/new') ? 'active' : '')
          a(href="/articles/new", title="new article") New
        - if (req.isAuthenticated())
          li
            a(href="/users/"+req.user.id, title="Profile") Profile
          li
            a(href="/logout", title="logout") Logout
        - else
          li(class=isActive('/login') ? 'active' : '')
            a(href="/login", title="Login") Login

      ul.nav.navbar-nav.navbar-right
        li
          iframe(style="border: 0; margin: 0 0 0 0; padding: 15px 0 0 15px;", src="https://www.gittip.com/madhums/widget.html", width="60pt", height="45pt")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=madhums&repo=node-express-mongoose-demo&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="45", style="padding: 15px 0 0 15px;")
        li
          iframe(src="http://ghbtns.com/github-btn.html?user=madhums&repo=node-express-mongoose-demo&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="45", style="padding: 15px 0 0 15px;")
        li
          a.travis(href="https://travis-ci.org/madhums/node-express-mongoose-demo", target="_blank", title="travis-ci build")
            img(src="https://travis-ci.org/madhums/node-express-mongoose-demo.png?branch=master")
