head
  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, stylus demo")
  meta(name="description", content="A demo app illustrating the usage of express framework, mongoose orm, mongodb and stylus in node.js")
  link(rel='stylesheet', href='/stylesheets/main.css')
