<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Node Express Mongoose Demo</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{% if (isActive('/articles/new')) %}active{% endif %}">
          <a href="/articles/new" title="new article">New</a>
        </li>

        {% if (req.isAuthenticated()) %}
          <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
            <a href="{{ '/users/' + req.user.id }}" title="Profile">Profile</a>
          </li>
          <li>
            <a href="/logout" title="logout">Logout</a>
          </li>
        {% else %}
          <li class="{% if (isActive('/login')) %}active{% endif %}">
            <a href="/login" title="Login">Login</a>
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://www.gratipay.com/madhums/"><img src="https://img.shields.io/gratipay/madhums.svg?style=flat" alt="Gittip" data-canonical-src="https://img.shields.io/gratipay/madhums.svg?style=flat" style="max-width:100%;"></a>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=madhums&amp;repo=node-express-mongoose-demo&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="45" style="padding: 15px 0 0 15px;"></iframe>
        </li>
        <li>
          <iframe src="http://ghbtns.com/github-btn.html?user=madhums&amp;repo=node-express-mongoose-demo&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="45" style="padding: 15px 0 0 15px;"></iframe>
        </li>
        <li>
          <a href="https://travis-ci.org/madhums/node-express-mongoose-demo"><img src="https://img.shields.io/travis/madhums/node-express-mongoose-demo.svg?style=flat" alt="Build Status" data-canonical-src="https://img.shields.io/travis/madhums/node-express-mongoose-demo.svg?style=flat" style="max-width:100%;"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
