head(prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title= pkg.name + ' - ' + title
  meta(name="keywords", content="{{ pkg.keywords.join(',') }}")
  meta(name="description", content="{{ pkg.description }}")

  meta(property="fb:app_id", content="293989217296609")
  meta(property="og:title", content=pkg.name + ' - ' + title)
  meta(property="og:description", content=pkg.description)
  meta(property="og:url", content="http://nodejs-express-demo.herokuapp.com")
  meta(property="og:site_name", content="Node.js Express Mongoose Demo")
  meta(property="fb:admins", content="1037213945")

  block head
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/jquery.tagsinput.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/app.css")

  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
