
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Node.js Express Mongoose Demo
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/articles', title="article listing") Articles
            li
              a(href="/articles/new", title="new article") New
            li
              a(href="https://github.com/qed42/nodejs-express-mongoose-demo", title="fork me on github") FORK ME ON GITHUB
          ul.nav.pull-right
            if (everyauth.loggedIn)
              li
                a(href="/profile/"+current_user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/auth/facebook", title="Login") Login
