- if (typeof info != 'undefined' && info.length)
  .fade.show.alert.alert-info
    button.close(type='button', data-dismiss='alert') ×
    ul
      each inf in info
        li!= inf

- if (typeof errors != 'undefined' && errors.length)
  .fade.show.alert.alert-danger
    button.close(type='button', data-dismiss='alert') ×
    ul
      each error in errors
        li!= error

- if (typeof success != 'undefined' && success.length)
  .fade.show.alert.alert-success
    button.close(type='button', data-dismiss='alert') ×
    ul
      each succ in success
        li!= succ

- if (typeof warning != 'undefined' && warning.length)
  .fade.show.alert.alert-warning
    button.close(type='button', data-dismiss='alert') ×
    ul
      each warn in warning
        li!= warn
