{% if (info && info.length) %}
  <div class="fade in alert alert-info">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <ul>
      {% for inf in info %}
        <li>{{ inf }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if (errors && errors.length) %}
  <div class="fade in alert alert-danger">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if (success && success.length) %}
  <div class="fade in alert alert-success">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <ul>
      {% for succ in success %}
        <li>{{ succ }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if (warning && warning.length) %}
  <div class="fade in alert alert-warning">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <ul>
      {% for warn in warning %}
        <li>{{ warn }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
