#logo
  h1
   a(href="/articles", title="node.js express demo") node.js express demo
#user_nav
  a(href="/articles/new", title="new article") New Article
  \ | 
  a(href='/articles', title="article listing") Article Listing
#clear  
