#logo
  h1
   a(href="/articles", title="node.js express demo") node.js express demo
#user_nav
  a(href="/articles/new", title="new article") New Article
  \ | 
  a(href='/articles', title="article listing") Article Listing
  
  br
  br
  div.let-me-know If you want any specific feature to
    br
    | be demoed, you can 
    a(href="https://github.com/madhums/nodejs-express-mongoose-demo/issues", title="issue tracker") let me know
  
#clear  
