doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', lang="en", xml:lang="en")
  != partial('../includes/head')
  body
    #container
      != partial('../includes/header')
      a(href="https://github.com/qed42/nodejs-express-mongoose-demo", title="fork me on github")
        img(style="position: fixed; top: 0; right: 0; border: 0;", src="/images/fork-me.png", alt="Fork me on GitHub")
      != body
    != partial('../includes/foot')
