form.form-vertical(method="post", action="/articles/#{article._id}/comments")
  .control-group
    .controls
      textarea#comment.input-xxlarge(type='text', rows="6", name="body", placeholder='Add your comment')
  button.btn.btn-primary(type='submit') Add comment
