#error-message-box
  p Sorry, we could not find that page. Probably one of our "genius" programmers made a boo-boo! 
    b :P
  #error-stack-trace
    - if(showStack)
      pre 
        code!= error.stack
