h2= title

!= messages()

form(method="post",action="/articles/"+article._id)
  input(name='_method', value='PUT', type='hidden')
  p
    label Title
    br
    input(type="text", name="article[title]", value=article.title)

  p
    label Body
    br
    textarea(name="article[body]")=article.body

  input(type="hidden", name="article[_id]", value=article._id)

  input(type="submit", value="Submit")

  &nbsp;
  a(class='destroy', href='/article/'+article._id, title="delete") Delete
  &nbsp;
  a(href='/articles', title="cancel") Cancel
