

extends ../layouts/default

block main
  h1= title

block content
  - if (articles.length)
    .article-content
      - each article in articles
        include article

      - if (pages > 1)
        ul.pagination
          != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      a(href="/articles/new") create one



    - for (var i = 0; i < postList.length; i++)
      div.row
        mixin blogPost(postList[i])
        - if (i + 1 < postList.length)
          mixin blogPost(postList[i + 1])