!= messages()

h2= title

div#articles
  - if(articles.length)
    != partial('article_list', {collection : articles, as : 'article'})
  - else
    #no-results No articles found. Create one
      a(href="/articles/new") &nbsp;here
