extends ../layouts/default

block main
  .main-title
    .row
      .col-md-8
        h1 #{title}
        small #{'ТОВ "Блакитна затока"'}
      .col-md-4
        a(href="/articles/new") create one

block content
  - if (articles.length)
    .article-list
      - each article in articles
        include article
  - else
    h4.muted No articles.&nbsp;

  - if (articles.length)
    - if (pages > 1)
      .pagination-block
        ul.pagination
          != createPagination(pages, page)


    //- for (var i = 0; i < postList.length; i++)
      div.row
        mixin blogPost(postList[i])
        - if (i + 1 < postList.length)
          mixin blogPost(postList[i + 1])