extends ../layouts/default

block main
  .main-title
    .row
      .col-md-8.col-sm-8
        h1 #{title}
        small #{'ТОВ "Блакитна затока"'}
      - if(req.user)
        .col-md-4.col-sm-4
          a.btn.btn-success(href="/articles/new")
            i.fa.fa-plus-circle
            span #{'Створити новину'}

block content
  - if (articles.length)
    .article-list
      - each article in articles
        include article
  - else
    h4.muted No articles.&nbsp;

  - if (articles.length)
    - if (pages > 1)
      .pagination-block
        ul.pagination
          != createPagination(pages, page)


    //- for (var i = 0; i < postList.length; i++)
      div.row
        mixin blogPost(postList[i])
        - if (i + 1 < postList.length)
          mixin blogPost(postList[i + 1])