!= messages()

form.form-horizontal(method="post", action="/articles")
    fieldset
        legend= title
        .control-group
          label.control-label(for='title') Title
          .controls
            input#title.input-xlarge(type='text', name="article[title]", value=article.title, placeholder='Enter the title')
        .control-group
          label.control-label(for='desc') Body
          .controls
            textarea#desc.input-xxlarge(type='text', rows="6", name="article[body]", placeholder='Enter the article description')=article.body
        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/articles', title="cancel") Cancel

