h2= title

!= messages()

form(method="post",action="/articles")
  p
    label Title
    br
    input(type="text", name="article[title]", value=article.title)

  p
    label Body
    br
    textarea(name="article[body]")=article.body

  input(type="submit", value="Submit")
  &nbsp;
  a(href='/articles', title="cancel") Cancel
