extends ../layouts/default

block main
  h1= article.title

block content
  p.author
    span Author :&nbsp;
    a(href="/users/"+article.user._id)=article.user.name
  p=article.body
  span.date
    #{formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")}

  p
    br
    a.btn(href='/articles/'+article._id+'/edit', title="edit") Edit
    &nbsp;
    a.btn.destroy(href='/articles/'+article._id, title="delete") Delete
    &nbsp;

  p
    br
    h2 Comments
    each comment in article.comments
      include ../comments/comment
    include ../comments/form
