!= messages()

h2= article.title
p.author
  span Author :&nbsp;
  a(href="/profile/"+article.user._id)=article.user.fb.name.full
p=article.body
span.date
  #{dateformat(article.created_at, "%b %d, %Y at %I:%M %p")}

p
  br
  a.btn(href='/article/'+article._id+'/edit', title="edit") Edit
  &nbsp;
  a.btn.destroy(href='/article/'+article._id, title="delete") Delete
  &nbsp;


p
  br
  h2 Comments
  != partial('../comments/list', {collection : comments, as : 'comment'})
  != partial('../comments/form')
