extends ../layouts/default

block main
  h1= title

block content
  .offset1
    a(href="/auth/facebook")
      img(src="/img/facebook.png")
    a(href="/auth/github")
      img(src="/img/github.png")
    a(href="/auth/twitter")
      img(src="/img/twitter.png")
    a(href="/auth/google")
      img(src="/img/google.png")

  center
    br
    h2 OR
    br

  .login
    block auth
