extends ../layouts/default

block main
  h1= title

block content
  .row
    .offset1.span5
      a(href="/auth/facebook")
        img(src="/img/facebook.png")
      a(href="/auth/github")
        img(src="/img/github.png")
      a(href="/auth/twitter")
        img(src="/img/twitter.png")
      a(href="/auth/google")
        img(src="/img/google.png")
    .span6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error
          a.close(data-dismiss="alert", href="javascript:void(0)") x
          ul
            each error in errors
              li= error.type

      block auth
