extends ../layouts/default

block main
  h1 Login

block content
  .row
    .offset4
      a(href="/auth/facebook")
        img(src="/img/facebook.png")
      a(href="/auth/github")
        img(src="/img/github.png")
      a(href="/auth/twitter")
        img(src="/img/twitter.png")
