extends auth

block auth
  form.form-horizontal.form-signin(action="/users", method="post", role="form")
    input(type='hidden', name='_csrf', value="#{csrf_token}")

    input#email.form-control(type='text', name="email", placeholder='Email', value=user.email)

    input#name.form-control(type='text', name="name", placeholder='Full name', value=user.name)

    input#username.form-control(type='text', name="username", placeholder='Username', value=user.username)

    input#password.form-control(type='password', name="password", placeholder='Password')

    br
    .text-center
      button.btn.btn-primary(type='submit') Sign up
      br
      br
      a.show-login(href="/login") Log in
