!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  != partial('../includes/head')
  body
    .container
      != partial('../includes/header')
      != body
    != partial('../includes/foot')
