doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    #wrap
      include ../includes/header
      .container
        .main-content
          include ../includes/messages
          .main-head
            block main
          block content
    include ../includes/footer
    include ../includes/foot
