doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  meta(name='viewport', content='width=device-width,initial-scale=1')
  link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
  body
    .wrapper
      include ../includes/header
      .alert
        |  You are checking this out from your mobile device!
      .container
        .main-content
          .main-head
            block main
          block content
      .push
    include ../includes/footer
    include ../includes/foot
