doctype html
html(lang="en")
  include ../includes/head
  meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    include ../includes/header
    .alert.alert-warning
      |  You are checking this out from your mobile device!
    .container
      .page-header
        block main
      .messages
        include ../includes/messages
      .content
        block content
    include ../includes/footer
    include ../includes/foot
